body {
  color: white;
  font-family: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#logo {
  font-size: 28px;
  font-weight: normal;
}

#hero {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/boxdonut.jpeg') no-repeat center center;
  background-size: cover;
  background-position: 0 2%;
  position: static;
}

.navbar {
  width: 100%;
  background: none !important;

  @media(max-width: 544px) {
    background: #fb4a37  !important;

    .text-primary {
      color: white !important;
      text-align: center;
      font-size: 30px;
    }
  }

  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item {
    padding: 0 1rem;

    @media(max-width: 34em) {
      padding: 0;
    }

    .nav-link {
      @media(max-width: 34em) {
        font-weight: normal;
        color: white !important;
      }
    }
  }
}


h1 {
  font-weight: bold;
  font-size: 3.5em;
}


.feature-wrapper {
  color: white;
}


#join-container, h2 {
  letter-spacing: 4px;
  font-weight: bold;
}


.btn {
  padding: 12px;
  border: none;
  cursor: pointer;
}
